<?php	// Requires shibboleth script put in the folder to ask for identification
	$NAME_USER=$_SERVER["Shib-InetOrgPerson-mail"];

	$shib_Mail=strtolower($_SERVER['Shib-InetOrgPerson-mail']);
	// mail adress is unique identifier, it can be used to filter access
	// Suppose :
	// 	- John, Bob and Alice belongs to the DO lab; 
	
	$authorized_DO= array(
		'john@myinstitute.org',
		'bob@myinstitute.org', 
		'alice@myinstitute.org',
		);

	//	- Eric and Evariste to the JO lab

	$authorized_JO= array(
		'eric@myinstitute.org',
		'evariste@myinstitute.org');

	$LABO_USER="No_Lab";
	if (in_array($shib_Mail,$authorized_DO)) {
		$LABO_USER = "DO";
	}
	if (in_array($shib_Mail,$authorized_JO)) {
		$LABO_USER = "JO";
	} 
	if ($LABO_USER=="No_Lab") {
		?>
		    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		Sorry, you are not allowed to access this database. If you believe this is a mistake, contact <?php echo $CONTACT_EMAIL?><br> Please clear your cookies if you need to login again.
			<?
			exit; //User kicked
	}
	
	?>
